span{
    color: var(--primary-color);
}
.about{
    width:90vw;
    text-align: center;
    padding: 4.375rem 1.25rem ;
    p{
        padding: 0.625rem;
        color: #666;
        margin-bottom: 0.625rem;
    }
}

.about img{
    border-top: 0.625rem solid var(--primary-color);
    border-left: 0.625rem solid var(--primary-color);
    border-right: 0.625rem solid white;
    border-bottom: 0.625rem solid white;
    

}
h2{
    font-size: 1.5rem;
}
.about h4{
    margin: 0.9375rem;
}
