#contact {
    background-color: var(--primary-color);
<<<<<<< HEAD
=======
    padding-bottom: 20px;
    .mapa{
        margin-top: 20px;
    }
    .icons{
        display: flex;
        justify-content: space-around;
        span{
            display: none;
        }
    }
>>>>>>> develop
}
footer{
    background-color: black;
    color: white;
    .container{
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
    }
    a {
        color: white;
        text-decoration: none;
    }
    ul li{
        display: inline-block;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> develop
