#gallery .grid{
    padding: 1.25rem;
    display: grid;
    gap: var(--gap);

}

#gallery .grid article{
    position: relative;
    overflow: hidden;

    .content{
        position: absolute;
        width: 100%;
        background-color: var(--primary-color);
        color: white;
        padding: 0.9375rem;
        transition: 2s;
    }
    h3{
        font-size: 160%;
        margin-bottom: 0.625rem;
    }
    p{
        font-size: 200%;
    }
    img{
        transition: 2s;
    }
}

#gallery .grid article:hover{
    .content{
        transform: translateY(-5.9375rem);
    }
    img{
        transform: scale(1.15) rotateZ(7deg);
        transition: 2s;
    }
}




